body{
  margin: 0;
  padding: 0;
  background: url(../images/background1.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#triangletracker{
  text-align: center;
  width: auto;

}
.data{
  width: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: rgba(177, 46, 46, 0.541);
  border: 1px solid #cccccc;
  outline: none;
  padding: 5px;
}
