body{
  margin: 0;
  padding: 0;
  background: url(../images/background1.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#triangletracker{
  text-align: center;
  max-width:40%;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #cccccc;
  background-color:#7a75758f;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;

}
.data{
  width: 150px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: rgba(177, 46, 46, 0.541);
  border: 1px solid #cccccc;
  outline: none;
  padding: 5px;
}
h1{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#answer{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 20px;
  padding-bottom: 20px
}